@font-face {
  font-family: 'Manrope-Regular';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('../fonts/Manrope-SemiBold.ttf') format('truetype');
}